@import "../../style/mixin.scss";

.title{
  @include fluid(font-size,38px, 48px);
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  @include fluid(margin-top, 25px, 50px);
  @include fluid(margin-bottom, 25px, 50px);
  text-align: center;
}