@import "../../style/mixin.scss";

.card{
  width: 49%;
  display: flex;
  border: 1px solid #fff;
  @include fluid(padding-left, 10px, 15px);
  @include fluid(padding-right, 10px, 15px);
  @include fluid(padding-top, 5px, 10px);
  @include fluid(padding-bottom, 5px, 10px);
  border-radius: 15px;
  justify-content: space-between;
  @include fluid(margin-bottom, 15px, 30px);
  align-items: center;
  position: relative;
}
.img{
  width: 30%;
  @include fluid(height, 100px, 200px);
  object-fit: contain;
  border-radius: 12px;
  @include fluid(margin-right, 10px, 15px);
}
.text{
  width: 100%;

}
.title{
  @include fluid(font-size,24px, 28px);
  color: #fff;
  font-weight: 500;
  @include fluid(margin-bottom, 10px, 15px);
  cursor:pointer;
}
.description{
  @include fluid(font-size,16px, 22px);
  color: #fff;
  @include fluid(margin-bottom, 5px, 10px);

}
.count{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.countText{
  @include fluid(font-size,14px, 16px);
  color: #fff;
  display: flex;
  align-items: center;
  @include fluid(margin-bottom, 5px, 10px);
}
.price{
  @include fluid(font-size,20px, 24px);
  font-weight: 700;
  color: #fff;
}
.close{
  position: absolute;
  top: 25px;
  content: '';
  right: 25px;
  cursor: pointer;
  &:before{
    @include fluid(width, 3px, 5px);
    @include fluid(height, 10px, 20px);
    content: '';
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
  }
  &:after{
    @include fluid(width, 3px, 5px);
    @include fluid(height, 10px, 20px);
    content: '';
    background: #fff;
    transform: rotate(-45deg);
    position: absolute;
  }
}
@media screen and (max-width: 992px){
  .card{
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .card{
    flex-direction: column;
  }
  .img{
    margin-bottom: 20px;

  }
  .title{
    text-align: center;
  }
}
